<div class="logic-element">
    <div class="logic-element-gate-canvas">
        {{#input_nodes}}
            <div class="logic-element-input-node">{{node}}</div>
        {{/input_nodes}}
    </div>
</div>